<!DOCTYPE html>
<html lang="en-US">
<head>

{% load static %}
<title>Polls App</title>
<link rel="icon" href="{% static 'favicon.ico' %}">
<!--<link rel="stylesheet" href="{% static 'polls/style.css' %}">-->
<meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body style="background-color:purple;text-align: center;">

{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="/polls/{{ question.id }}/" style="color:coral;">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}

<hr>
<a href="/" style="color: coral;font-size:20px;" title="Index">Go to Home</a>
<br>
<br>
<img src="{% static 'favicon.ico' %}" title="Favicon">

</body>
</html>
